:root {
  --layout-width: 1520px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .section {
  width: 100%;
  max-width: var(--layout-width);
}

main .banner {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 650px;
}

main .banner .swiper {
  width: 100%;
  height: 100%;
}

main .banner .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

main .banner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .banner .right {
  width: 28.94%;
}

main .sub-gnb {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 80px;
}

main .sub-gnb a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

main .sub-gnb img {
  width: 100%;
}

main .recommends {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

main .recommends > .title h2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 44px;
  font-weight: 700;
}

main .recommends > .title h2 img {
  width: 58px;
}

main .recommends .products {
  display: flex;
  width: 100%;
  margin-top: 44px;
}

main .recommends .left {
  display: flex;
  width: 20.132%;
}

main .recommends .right {
  display: flex;
  width: 79.868%;
}

main .recommends .right a {
  display: block;
  text-decoration: none;
  color: #000;
}

main .recommends .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .recommends .photo {
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
}

main .recommends .info {
  width: 100%;
  margin-top: 20px;
}

main .recommends .price-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 16px;
  width: 100%;
}

main .recommends .sale {
  padding: 3px 5px;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 600;
  background-color: #e83828;
  color: #fff;
  border-radius: 6px;
}
