:root {
  --layout-width: 1520px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .section {
  width: 100%;
  min-width: 1260px;
  max-width: var(--layout-width);
}

main .banner {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 650px;
}

main .banner .swiper {
  width: 100%;
  height: 100%;
}

main .banner .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

main .banner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .banner .right {
  width: 28.94%;
}

main .sub-gnb {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 80px;
}

main .sub-gnb a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

main .sub-gnb img {
  width: 100%;
}

main .recommends {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

main .recommends > .title h2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  font-size: 44px;
  font-weight: 700;
}

main .recommends > .title h2 img {
  width: 58px;
}

main .recommends .products {
  display: flex;
  width: 100%;
  margin-top: 44px;
}

main .recommends .left {
  display: flex;
  width: 20.132%;
}

main .recommends .right {
  display: flex;
  width: 79.868%;
}

main .recommends .right a {
  display: block;
  text-decoration: none;
  color: #000;
}

main .recommends .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .recommends .photo {
  /* width: 290px; */
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
}

main .recommends .info {
  width: 100%;
  margin-top: 20px;
}

main .recommends .info .title {
  font-size: 18px;
  font-weight: 500;
}

main .recommends .price-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 6px;
  row-gap: 10px;
  margin-top: 16px;
  width: 100%;
}

main .recommends .price-info .price {
  font-size: 20px;
  font-weight: 600;
}

main .recommends .price-info del {
  font-size: 16px;
  color: #787878;
}

main .recommends .price-info .per-price {
  font-size: 14px;
  color: #9e9e9e;
}

main .recommends .sale {
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 600;
  background-color: #e83828;
  color: #fff;
  border-radius: 6px;
}

main .gift {
  display: flex;
  gap: 40px;
  margin-top: 150px;
}

main .gift .left {
  width: 37.828%;
}

main .gift .right {
  width: 62.172%;
}

main .gift .right > .title h2 {
  display: flex;
  gap: 10px;
  margin: 0;
  font-size: 44px;
  font-weight: 700;
}

main .gift .right > .title h2 img {
  width: 58px;
}

main .gift img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .gift .right a {
  display: block;
  text-decoration: none;
  color: #000;
}

main .gift .right .photo {
  /* width: 290px; */
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
}

main .gift .right .info {
  width: 100%;
  margin-top: 20px;
}

main .gift .right .info .title {
  font-size: 18px;
  font-weight: 500;
}

main .gift .right .price-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 10px;
  margin-top: 16px;
  width: 100%;
}

main .gift .right .price-info .price {
  font-size: 20px;
  font-weight: 600;
}

main .gift .right .price-info del {
  font-size: 16px;
  color: #787878;
}

main .gift .right .price-info .per-price {
  width: 100%;
  font-size: 14px;
  color: #9e9e9e;
}

main .gift .right .sale {
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 600;
  background-color: #e83828;
  color: #fff;
  border-radius: 6px;
}

main .news {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  margin-top: 150px;
  width: 100%;
  background-color: #fff3f1;
}

main .news .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .news .title h2 {
  display: flex;
  gap: 10px;
  margin: 0;
  font-size: 44px;
  font-weight: 700;
}

main .news .title h2 img {
  width: 58px;
}

main .news .title .sns {
  display: flex;
  gap: 20px;
}

main .news .sns-section {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
